{% extends base_layout %}

{% form_theme form 'LexikMailerBundle:Form:form_layout.html.twig' %}

{% block content %}
<div>
    <form action="{{ path('lexik_mailer.layout_edit', { 'layoutId' : layout.id, 'lang' : lang }) }}" method="post" class="form-horizontal">
        {{ form_errors(form) }}

        <fieldset class="span5">
            <legend>
                {{ 'lexik_mailer.new.group_common' | trans({}, 'LexikMailerBundle') }}
            </legend>
            {{ form_row(form.reference) }}
            {{ form_row(form.description) }}
        </fieldset>
        <fieldset class="span5">
            <legend>
                {{ 'lexik_mailer.new.group_languages' | trans({}, 'LexikMailerBundle') }}
            </legend>
            {{ form_row(form.translation.lang) }}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ 'lexik_mailer.edit.table.lang' | trans({}, 'LexikMailerBundle') }}</th>
                        <th>{{ 'lexik_mailer.edit.table.action' | trans({}, 'LexikMailerBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, translation in layout.translations %}
                    <tr class="{{ cycle(['', 'odd-row'], key) }}">
                        <td><a href="{{ path('lexik_mailer.layout_edit', { 'layoutId' : layout.id, 'lang' : translation.lang }) }}">{{ translation.displayLanguage }}</a></td>
                        <td><a class="btn btn-danger" href="{{ path('lexik_mailer.layout_translation_delete', { 'translationId' : translation.id }) }}" onclick="if (!confirm('{{ 'lexik_mailer.translation_delete.confirm' | trans({}, 'LexikMailerBundle') }}')) return false;">{{ 'lexik_mailer.edit.action_delete' | trans({}, 'LexikMailerBundle') }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <fieldset class="span10">
            <legend>
                {{ 'lexik_mailer.new.group_translation' | trans({}, 'LexikMailerBundle') }}
            </legend>
            <div class="control-group">
                <label class="control-label"><strong>{{ 'lexik_mailer.edit.lang' | trans({}, 'LexikMailerBundle') }}</strong></label>
                <div class="controls">
                    <input type="text" disabled="disabled" value="{{ displayLang }}" />
                </div>
            </div>
            {{ form_row(form.translation.body) }}

        </fieldset>

        {{ form_rest(form) }}

        <div class="clear"></div>

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" value="{{ 'lexik_mailer.new.submit' | trans({}, 'LexikMailerBundle') }}" />
            <a class="btn" href="{{ path('lexik_mailer.layout_list') }}">{{ 'lexik_mailer.link.list' | trans({}, 'LexikMailerBundle') }}</a>
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        $("#mailer_layout_translation_lang").bind("change", function(){
           var pattern = "{{ routePattern }}";
           window.location =  pattern.replace('%lang%', $(this).val());
        });
    });
</script>
{% endblock %}