{% block field_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form, label|default(null)) }}
        <div class="controls">
            {{ form_widget(form) }} {{ append|default(null) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block generic_label %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' control-label'}) %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' label-required'}) %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {{ label|trans({}) }}
        {% if required %}
            <span class="required" title="{{ 'required-field' | trans }}">*</span>
        {% endif %}
    </label>
{% endspaceless %}
{% endblock %}{# empty Twig template #}
