{% extends layout %}

{% form_theme form 'LexikMailerBundle:Form:form_layout.html.twig' %}

{% block content %}
<div>
    <form action="{{ path('lexik_mailer.email_new') }}" method="post" class="form-horizontal">
        {{ form_errors(form) }}

        <fieldset>
            <legend>
                {{ 'lexik_mailer.new.group_common' | trans({}, 'LexikMailerBundle') }}
            </legend>
            {{ form_row(form.reference) }}
            {{ form_row(form.layout) }}
            {{ form_row(form.bcc) }}
            {{ form_row(form.description) }}
            {{ form_row(form.spool) }}
        </fieldset>

        <fieldset class="span5">
            <legend>
                {{ 'lexik_mailer.new.email_headers' | trans({}, 'LexikMailerBundle') }}
            </legend>
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'lexik_mailer.headers.key'|trans({}, 'LexikMailerBundle') }}</th>
                    <th>{{ 'lexik_mailer.headers.value'|trans({}, 'LexikMailerBundle') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="headers" data-prototype="{% filter escape %}{{ _self.linePrototype(form.headers.vars.prototype) }}{% endfilter %}">
                {% for header in form.headers %}
                    {{ _self.linePrototype(header) }}
                {% endfor %}
                <tr>
                    <td colspan="3" style="text-align: right">
                        <a href="#" class="btn btn-primary add_header_link">{{ 'lexik_mailer.headers.add'|trans({}, 'LexikMailerBundle') }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>
                {{ 'lexik_mailer.new.group_translation' | trans({}, 'LexikMailerBundle') }}
            </legend>
            <div class="control-group">
                <label class="control-label"><strong>{{ 'lexik_mailer.new.default_lang' | trans({}, 'LexikMailerBundle') }}:</strong></label>
                <div class="controls">
                    <input type="text" disabled="disabled" value="{{ lang }}" />
                </div>
            </div>
            {{ form_row(form.translation.fromName) }}
            {{ form_row(form.translation.fromAddress) }}
            {{ form_row(form.translation.subject) }}
            {{ form_row(form.translation.body) }}
            {{ form_row(form.translation.bodyText) }}
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" value="{{ 'lexik_mailer.new.submit' | trans({}, 'LexikMailerBundle') }}" />
            <a href="{{ path('lexik_mailer.email_list') }}" class="btn">{{ 'lexik_mailer.link.list' | trans({}, 'LexikMailerBundle') }}</a>
        </div>
    </form>
</div>
{% endblock %}

{% macro linePrototype(field) %}
    {% spaceless %}
        <tr>
            <td>
                {{ form_widget(field.key) }}
                {{ form_errors(field.key) }}
            </td>
            <td>
                {{ form_widget(field.value) }}
                {{ form_errors(field.value) }}
            </td>
            <td>
                <a href="#" class="btn btn-small btn-danger delete_header_link" title="{{ 'lexik_mailer.headers.delete' | trans({}, 'LexikMailerBundle') }}">
                    {{ 'lexik_mailer.headers.delete' | trans({}, 'LexikMailerBundle') }}
                </a>
            </td>
        </tr>
    {% endspaceless %}
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% include "@LexikMailer/Email/_collection.js.twig" %}
    </script>
{% endblock %}
